<?xml version="1.0" encoding="utf-8"?>

<BuildConfiguration>

	<Project>
		<Name>Automationassignment_01</Name>
		<Configuration>Release</Configuration>
	</Project>

	<Steps>

		<Step name="Restore">
			<Command>dotnet restore</Command>
		</Step>

		<Step name="Build">
			<Command>dotnet build --configuration Release --no-restore</Command>
		</Step>

		<Step name="Test">
			<Command>dotnet test --configuration Release --no-build</Command>
		</Step>

	</Steps>

</BuildConfiguration>